@font-face
 {
  font-family: markazi;
  src:url('../fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf');
}


@font-face{
    font-family: karla;
    src:url('../fonts/Karla/Karla-VariableFont_wght.ttf');
}

body{
    background-color: rgb(255, 255, 255);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    padding: 10px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}

header img{
   width:20%;
}

header nav{

}

.menu-icon{
    display: none;
}

nav{
   
}
nav ul li{
    display: none;
    margin-left: 10px;
}

nav ul li.link{
    display: inline;
    
}
nav ul li.link a{
    /* border:1px solid grey; */
    padding: 15px;
    line-height: 1.5;
    font-size: 18px;
    color: rgba(73, 94, 87, 1);
    font-weight: 500;
}

nav ul li.link a:hover{
    color: rgba(73, 94, 87, 0.7);
    
}

#main{
    margin-top: 20px;
    background-color: rgba(73, 94, 87, 1);
    height:65vh;
}

#main-container{
    display: grid;  
    padding-top: 25px;
    justify-content: space-evenly;
    justify-items:stretch;
    align-items: stretch;
    grid-template-columns: 40% 23%;
    grid-template-rows: 70vh;
    gap:0;
    
}  

#desc{
    /* border: 1px solid grey; */
    width:100%;
    margin-left: 40px;
}

#main img{
    max-width: 100%;
    margin-left: -15%;   
    border-radius: 16px;   
    margin-top: 20%;                                                                                                                                                                                                                                                                                                                                                                                                                                                              ;
}

#desc h1{
   font-size: 64pt;
   font-weight: normal;
   color:#F4CE14;
   font-family: markazi;
}

#desc h2{
  font-size: 40pt;
  font-weight: normal;
  color: #ffffff;
  font-family: markazi;
}

#desc p{
    margin-top: 20px;
    font-size: 16pt;
    line-height: 1.5;
    font-family: karla;
    color: #ffffff;
    margin-bottom: 40px;
}

#reserve-btn{
    background-color: #F4CE14;
    color:#495e57;
    font-family: karla;
    font-size: 18px;
    font-weight:900;
    border-radius: 16px;
    height: 48px;
    border: 0;
    width: 200px;
}

#second-main{
    background-color: #ffffff;
    height: 120vh;
    display: grid;
    justify-content:center;
    margin-top: 120px;
    grid-template-columns: repeat(3,24%);
    grid-template-rows: 20vh 90vh;
    grid-template-areas: "heading heading order-button"
                         "first-figure second-figure third-figure";
    gap: 30px;
    
} 

#second-main >h1{
    grid-area: heading;
    align-self: center;
    font-family: markazi;
    font-size: 40pt;
    line-height: 1.5;
    font-weight: normal;
    color:#0d3d2d;
}

#second-main >button{
    grid-area: order-button;
    background-color: #F4CE14;
    color:#495e57;
    font-family: karla;
    font-size: 14pt;
    font-weight:900;
    border-radius: 16px;
    height: 48px;
    border: 0;
    width: 200px;
    justify-self: end;
    align-self: center;
}

#second-main figure{
    background-color: #e0dede;
    border-radius: 16px;
}

#second-main figcaption{
    padding: 20px;
}
#second-main figure:nth-of-type(1){
    grid-area: first-figure;
    
}

#second-main figure:nth-of-type(2){
    grid-area: second-figure;
    
}

#second-main figure:nth-of-type(3){
    grid-area: third-figure;
    
}

#second-main img{
    height: 40vh; 
    max-width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
}

#second-main h3{
    display: inline-block;
    color: #495e57;
    font-weight: bold;
    font-size: 18pt;
    line-height: 1.5;
    /* font-family: markazi; */
}

#second-main span{
    position: relative;
    float: right;
    color: #ef3f3f;
    font-weight: medium;
    font-size: 16pt;
    font-family: karla;
}

#second-main p{
    font-family: karla;
    font-weight: normal;
    line-height: 1.5;
    font-size: 16pt;
    margin-top: 10px;
    max-width: 65ch;
}

#second-main #order{
   
    margin-top: 40px;
}
#second-main #basket-icon{
    /* border: 1px solid grey; */
    width: 10vh;
    height: 5vh;
}

@media (max-width:767px) {
    header img{
        width:100%;
     }
    .menu-icon{
        display: block;
        max-width: 100%;
        padding-top: 10px;
        
    }
    .menu-icon:hover{
        cursor: pointer;
    }
    #navB{
        display: none;
    }
    nav{
        display: flex;
        position: fixed;
        right:0;
        justify-content: stretch;
        align-items: stretch;
        border: 1px solid grey;
        border-radius: 5px;
        height: 43vh;
        width:40vw;
       /* padding: 10px; */
       background-color: #ffffff;
       animation: opac 1s;
       transition: 1s ease opacity;
    }
    @keyframes opac{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    nav ul{
     position: relative;
     width: 100%;
    }
    
    nav li{
        height: 50px;
        /* width: 30vh; */
    }
    
    nav ul li{
        display: block;
        /* margin-left: 20px; */
    }

    nav a{
        height: 100%;
        max-width: 100%;
        display: block;
        border-bottom: 1px solid grey;
        /* color: #f4e3e3; */
        color: rgba(73, 94, 87, 1);

        padding: 10px;
        /* text-align: center; */
        text-indent: 32%;
    }
    nav a:hover{
        color: rgb(12, 8, 8);
    }
    .menu-icon{
        width: 100px;
        animation-name: anm;
        animation-duration: 1s;
        height: 30px;
        color: #495e57;
    }
    @keyframes anm{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    nav{
        transition: 0.3s linear opacity;
    }

    header{
        margin-top: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 40% 10%;
        grid-template-rows: 50px;
        justify-items: stretch;
        justify-content: space-between;
        /* margin-bottom: 100px; */
        /* border: 1px solid grey; */
    }
  
    #main{
        height: 70vh;
        
   }

    #main-container{
        
        display: grid;  
        padding-top: 25px;
        justify-content: space-evenly;
        justify-items:center;
        align-items: stretch;
        grid-template-columns: 70%;
        grid-template-rows: auto;
        gap:0;
        height: auto;
    }  

    #main img{
        max-width: 100%;
        margin-left: -40%;   
        border-radius: 16px;   
        margin-top: 0;  
        display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                ;
    }

    #second-main{
        background-color: #ffffff;
        height: auto;
        display: grid;
        justify-content:center;
        margin-top: 120px;
        grid-template-columns:100vh;
        grid-template-rows: 20vh 20vh repeat(3, 90vh);
        grid-template-areas: "heading"
                             "order-button"
                             "first-figure"
                             "second-figure"
                             "third-figure";
        gap: 30px;
        
    } 
  
    #second-main >h1{
        justify-self: center;
        align-self: center;
        margin-bottom: -30px;
    }

    #second-main > button{
        justify-self: center;
         
    }

    #second-main figure {
        width: 60vw;
        justify-self: center;
        align-self: center;
    }

    #second-main img{
        max-width: 100%;
    }
}
