@font-face
 {
  font-family: markazi;
  src:url('../fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf');
}


@font-face{
    font-family: karla;
    src:url('../fonts/Karla/Karla-VariableFont_wght.ttf');
}
img{
    max-width: 100%;
}

#third-section{
    background-color:  #e0dede;
    height: 70vh;
    margin-top: 20vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 17%);
    grid-template-rows: 10vh 50vh;
    grid-template-areas: "title title title title"
                          "test1 test2 test3 test4 ";
    gap: 40px;
}

#third-section h1{
    font-size: 40pt;
    color:rgb(72, 65, 65);
    font-family: markazi;
    grid-area: title;
    justify-self: center;
}

#third-section figure{
   
}

#third-section figure:nth-of-type(1){
    grid-area: test1;
}

#third-section figure:nth-of-type(2){
    grid-area: test2;
}

#third-section figure:nth-of-type(3){
    grid-area: test3;
}

#third-section figure:nth-of-type(4){
    grid-area: test4;
}
figure img{
    margin-bottom: 20px;
}
figure #name{
    font-size: 16pt;
    font-family: markazi;
    font-weight: bold;
    
}

figure p{
    line-height: 1.5;
    font-size:16px;
    font-family: karla;
    font-weight: normal;
}

#fourth-section{
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: 20vh;
    gap:60px;
}

#fourth-section #about{
    width:40%;
    margin-left: -10%;
}

#fourth-section h1{
    font-size: 64pt;
    font-family: markazi;
    font-weight: bold;
    color: #230C0C;
}

#fourth-section h2{
    font-size: 40pt;
    font-family: markazi;
    font-weight: 500;
    margin-top: -20px;
    margin-bottom: 20px;
    color:#230C0C;
}

#fourth-section p{
    line-height: 1.5;
    font-size: 16pt;
    font-family: karla;
    font-weight: normal;
    max-width: 64ch;
    text-align: justify;
}


#fourth-section #images{
    width:22%;
}

#fourth-section img{
    max-width:100%;
    height:50vh;
    border-radius: 16px;
}

#fourth-section img:nth-of-type(1){
   position: relative;
}

#fourth-section img:nth-of-type(2){
    position: relative;
    left:38%;
    top:-30vh;
    z-index: 1;
}


/* Reservations page styles */


/* Footer styles */
 footer{
    display: grid;
  
    grid-template-columns: repeat(4,30vh);
    grid-template-rows: 20vh;
    justify-content: space-evenly;
    padding: 100px;
    background-color:  #e0dede;
 }

 footer img{
    max-width: 100%;
    
 }
  
 footer #logo{
    align-self: center;
 }

 footer #logo img{
        height:10vh;
        

 }

footer h3{
    margin-bottom:20px;
    font-family: markazi;
    font-size: 18pt;
}

footer li{
    margin-top: 10px;
}

footer li img{
    height: 5vh;
}



@media (max-width: 768px){
    #fourth-section{
        flex-direction: column;
        margin-top: 50vh;
        justify-content: center;
        align-items: center;
        height:130vh;
    }

    #fourth-section #about, #images{
        width: 70%;
        justify-self:center;
        gap: 0;
    }

    #fourth-section #images{
        width:50%;
        margin:auto;
    }

    #fourth-section img:nth-of-type(1){
        position: relative;
     }
     
     #fourth-section img:nth-of-type(2){
         position: relative;
         left:38%;
         top:-30vh;
         z-index: 1;
     }

     footer{
        display: grid;
      
        grid-template-columns:1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        padding: 100px;
        background-color:  #e0dede;
        row-gap: 80px;
     }

}




